body{
    background-color: #c4dfe6 ;
}
.container {
    height: 180px;
    width: 800px;
    margin: auto;
    background-color: #003b46;
}

.header {
    padding: 10px;
}

.header .judul {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #c4dfe6;
}

.header li {
    display: inline-flex;
    margin-top: 20px;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    color: #c4dfe6;
}

.header a:hover{
    background-color: #64a5ad;
    color: #07575b;
}

.hero {
    height: 280px;
    background-image: url(Selayar-Island-of-South-Sulawesi.jpg) ;
    background-size: cover;
    background-position: 0 0px;
    border-top: solid lightskyblue;
}

.content .penulis {
    font-size: 13px;
    margin-top: -7px;
}

.footer {
    background-color: rgb(5, 5, 5);
    padding: 2px;
}
.footer {
    color: rgb(235, 243, 243);
    text-align: center;
    font-size: 12px;
}